@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: roboto;
}

body {
  margin: 0;
  background-color: #e7edf3;
}

.egdiv {
  background-color: green;
  width: 100%;
  height: 800px;

  position: relative;
  z-index: 2;
}

#content {
  width: 100%;

  transition: transform;
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.websiteContainer {
  position: relative;
}

.contentDown {
  transform: translate(0, 300px);
}

.sectionLine {
  height: 1px;
  background-color: hsla(210, 33%, 93%, 0.4);
  margin: 0 3.75rem 10px 3.75rem;
}

.sectionOne {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;

  background-color: #171717;
  background-image: url("../assets/background1.webp");
  background-size: cover;
  background-repeat: no-repeat;

  transition: transform;
  transition-duration: 400ms;
  transition-timing-function: ease;

  position: relative;
  z-index: 1;
}

.titleOne {
  color: hsla(210, 33%, 93%, 0.9);
  font-weight: 600;
  font-size: 24pt;

  margin: auto 3.75rem 5px 3.75rem;
}

.titleTwo {
  color: hsla(210, 33%, 93%, 0.9);
  font-weight: 300;
  font-size: 14pt;

  margin: 0 3.75rem 20px 3.75rem;
}

.titleThree {
  color: hsla(210, 33%, 93%, 0.9);
  font-weight: 200;
  font-size: 12pt;

  margin: 0 3.75rem 20px 3.75rem;
}

.toaster-wrapper > div {
  display: none !important;
}
.toaster-wrapper > div:nth-child(-n + 3) {
  display: flex !important;
}

@media screen and (min-width: 720px) {
  .sectionOne {
    background-image: url("../assets/background2.jpg");
  }
  .titleOne {
    color: #2a476a;
  }
  .titleTwo {
    color: #2a476a;
  }
  .titleThree {
    color: #2a476a;
  }
  .sectionLine {
    background-color: #2a476a;
  }
}

@media screen and (max-height: 700px) {
  .titleOne {
    color: hsla(210, 33%, 93%, 0.9);
  }
  .titleTwo {
    color: hsla(210, 33%, 93%, 0.9);
  }
  .titleThree {
    color: hsla(210, 33%, 93%, 0.9);
  }
  .sectionLine {
    background-color: hsla(210, 33%, 93%, 0.4);
  }
}

@media screen and (min-width: 1150px) {
  .sectionOne {
    background-image: url("../assets/background3.webp");
    background-position: center bottom;
  }
  .titleOne {
    color: hsla(210, 33%, 93%, 0.9);
  }
  .titleTwo {
    color: hsla(210, 33%, 93%, 0.9);
  }
  .titleThree {
    color: hsla(210, 33%, 93%, 0.9);
  }
  .sectionLine {
    background-color: hsla(210, 33%, 93%, 0.4);
  }
}

@media screen and (min-width: 2100px) {
  .sectionOne {
    background-image: none;
    background-size: 20px 20px;
    background-repeat: repeat;
    background-image: linear-gradient(
      -45deg,
      #0c1218 25%,
      #16222f 25%,
      #16222f 50%,
      #0c1218 50%,
      #0c1218 75%,
      #16222f 75%,
      #16222f 100%
    );
    animation: pan 360s linear infinite;
  }
  @keyframes pan {
    from {
      background-position: top left;
    }
    to {
      background-position: top right;
    }
  }
}

@media screen and (max-height: 530px) {
  .sectionOne {
    z-index: 3;
    height: 300px;
  }
}
