h1.loginTitle {
  margin: 0;
  font-size: 16pt;
  font-weight: 300;
}

.prompt {
  display: flex;
  flex-direction: column;
  min-height: 220px;
}

.loginField {
  outline: 0;
  background-color: #e7edf3;
  border: 0;

  min-height: 40px;
  border: 1px solid #96989b53;

  margin-top: 10px;
  border-radius: 5px;
  padding: 0 2rem 0 2rem;

  color: #233b58;

  transition: outline;
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.loginField:first-of-type {
  margin-top: 30px;
}

.loginField:focus {
  outline: 1px solid #96989b53;
}

.loginKeepOutline {
  outline: 1px solid #96989b53;
}

.submitBtn {
  border: 0;
  background-color: #2a476a;
  color: #e7edf3;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12pt;

  transition: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease;

  cursor: pointer;
  min-height: 40px;

  margin: auto 0 0 0;
  outline: 0;
}

.submitBtn:hover {
  background-color: #233b58;
}

.submitBtn:focus {
  background-color: #233b58;
}

.submitBtn:active {
  background-color: #355985;
}

.toggleLink {
  display: flex;
  justify-content: start;
}

.swapToRegister {
  width: fit-content;
  margin: 10px 0 0 auto;
  font-weight: 300;
  font-size: 11pt;
  color: #356eb4;
  user-select: none;
  cursor: pointer;
  text-decoration: underline;
}

.swapToRegister:hover {
  color: #3e81d3;
}

.swapToLogin {
  margin-bottom: 35px;
}

.showPass {
  position: fixed;
  top: 144px;
  right: 38px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 34px;
  aspect-ratio: 1/1;
  align-items: center;

  transition: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease;

  border-radius: 100%;

  opacity: 0;
  animation: showBtnAppear 200ms 1;
  animation-fill-mode: forwards;
}

.passSvg {
  position: absolute;
  filter: invert(23%) sepia(50%) saturate(518%) hue-rotate(171deg)
    brightness(98%) contrast(96%);
  width: 24px;
  aspect-ratio: 1/1;
  opacity: 0.8;
}

.passSvgClosed {
  transition: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.passSvgOpen {
  width: 21.5px;
  opacity: 0;
}

.showPass:hover .passSvgClosed {
  opacity: 1;
}

.showPass:active .passSvgOpen {
  opacity: 1;
}

.showPass:active .passSvgClosed {
  opacity: 0;
}

.showPass:active {
  background-color: #bbd2e9;
  backdrop-filter: blur(10px);
}

.secondEye {
  top: 196px;
}

@keyframes showBtnAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.showPassText {
  display: none;

  width: fit-content;
  margin: 10px 0 0 0;
  font-weight: 300;
  font-size: 10pt;
  user-select: none;
  color: #233b58;
}

.showPassTextBox {
  display: none;

  width: 15px;
  height: 15px;
  margin: 10px 5px 0 0;
  border-radius: 100%;
}

.showPassTextBox:focus {
  outline: 0;
}

@media screen and (hover: none) {
  .showPass {
    display: none;
  }
  .showPassText {
    display: block;
  }
  .showPassTextBox {
    display: block;
  }
}
