.menuContent {
  position: absolute;
  z-index: 1;
  padding: 3.75rem 3.75rem 0 3.75rem;
  width: calc(100% - 7.5rem);
  height: calc(300px - 3.75rem);
  background-color: #e7edf3;
  color: #2a476a;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.searchSideNavBar-menu {
  position: relative;
  align-items: center;
  display: none;

  margin: 0 0 0 20px;
}

.wrapContentMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 auto 0;
}

.logoMenu {
  width: 50px;
  aspect-ratio: 1/1;
  background-image: url(../assets/light.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutMe {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22pt;
  font-weight: 700;
  color: #2a476a;
  pointer-events: none;
  user-select: none;
}

.tekst {
  margin: 0;
}

.aboutMeContent {
  margin: 0;
}

.aboutMeContent-hid {
  margin: 0;
}

.searchNavBar-menu {
  height: 34px;
  width: 100%;
  border-radius: 35px;
  color: #2a476a;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  outline: 0;
  padding: 0 15px 0 40px;
  font-weight: 100;
  margin: 0;
  font-size: 14pt;

  transition: background-color, color, box-shadow, border;
  transition-duration: 300ms;
  transition-timing-function: ease;

  box-shadow: 0px 0px 8px #8787875d;
}

.searchNavBar-menu:hover {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 12px #87878774;
  border: 1px solid transparent;
}

.searchNavBar-menu:focus {
  background-color: #2a476a;
  color: #e7edf3;
  border: 1px solid transparent;
}

.searchNavBar-menu:focus ~ .searchGlass-menu {
  filter: invert(57%) sepia(44%) saturate(4726%) hue-rotate(167deg)
    brightness(98%) contrast(80%);
}

.searchGlass-menu {
  margin: 0 10px 0 10px;
  height: 16px;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(297deg)
    brightness(107%) contrast(101%);
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.logoWrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
}

.menuLine {
  height: 1px;
  width: 100%;
  background-color: #2a476a;
  margin: 10px 3.75rem 0px 3.75rem;

  display: none;
}

@media screen and (max-width: 579px) {
  .searchSideNavBar-menu {
    display: flex;
  }
  .menuLine {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .aboutMe {
    font-size: 20pt;
  }
  .tekst {
    font-size: 10pt;
  }
  .searchNavBar-menu {
    font-size: 12pt;
  }
}

@media screen and (max-width: 390px) {
  .searchNavBar-menu {
    font-size: 10pt;
  }
}

@media screen and (max-width: 340px) {
  .aboutMe {
    font-size: 18pt;
  }
  .tekst {
    font-size: 9.5pt;
  }
}

@media screen and (max-width: 300px) {
  .tekst {
    font-size: 8.75pt;
  }
}
