.show-wrap {
  opacity: 0;
  animation: showAppear 200ms 1;
  animation-fill-mode: forwards;
}

@keyframes showAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show-bg {
  position: fixed;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
}

.show-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

  border-radius: 15px;
  background-color: #e7edf3;

  height: 560px;
  width: 427.5px;

  padding: 1.5em;
}

.showCloseBtn {
  height: 36px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 25px;
  background-color: #e7edf3;

  box-shadow: 0px 0px 8px #8787875d;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.showCloseBtn:hover {
  box-shadow: 0px 0px 12px #87878774;
}

.showCloseBtnIcon {
  height: 28px;
  aspect-ratio: 1/1;

  filter: invert(23%) sepia(50%) saturate(518%) hue-rotate(171deg)
    brightness(98%) contrast(96%);
}

.showTitle {
  font-weight: 200;
  font-size: 16pt;
}

.showImgs {
  margin-top: 20px;
  height: 284px;
}

.showImg {
  position: absolute;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;

  width: 425.5px;
  height: 282px;
  border-radius: 15px;

  border-radius: 15px;
  border: 1px solid #2a476a34;

  transition: box-shadow, background-size;
  transition-duration: 400ms;
  transition-timing-function: ease;

  cursor: pointer;

  opacity: 0;
  animation: modalAppear 200ms 1;
  animation-fill-mode: forwards;
}

.showImg:hover {
  box-shadow: inset 0 0 8px #2a476a;
  background-size: 100%;
}

.showBtnScroll {
  opacity: 0;

  position: absolute;
  top: 212.2px;
  transform: translateY(-50%);
  z-index: 100;
  height: 28px;
  width: 28px;
  border-radius: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.506);

  transition: background-color, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;

  border: 1.5px solid black;
}

.showImgs:hover .showBtnScroll {
  opacity: 1;
}

.showBtnScrollLeft {
  left: 35px;
}

.showBtnScrollRight {
  right: 35px;
}

.showBtnScroll:hover {
  background-color: rgba(0, 0, 0, 0.655);
}

.showBtnScroll:hover ~ .showImg {
  box-shadow: inset 0 0 8px #2a476a;
  background-size: 100%;
}

.showImg:has(~ .showBtnScroll:hover) {
  box-shadow: inset 0 0 8px #2a476a;
  background-size: 100%;
}

.showBtnScrollSvg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 22px;
  width: 22px;

  transition: filter;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.showBtnScrollSvg:hover {
  filter: invert(99%) sepia(4%) saturate(1702%) hue-rotate(211deg)
    brightness(119%) contrast(100%);
}

@keyframes imageAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
