.show-wrap {
  opacity: 0;
  animation: showAppear 200ms 1;
  animation-fill-mode: forwards;
}

@keyframes showAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show-bg {
  position: fixed;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
}

.show-container {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

  border-radius: 15px;
  background-color: #e7edf3;

  height: 560px;
  width: 427.5px;

  padding: 1.5em 1.5em 2.5em 1.5em;
}

.showCloseBtn {
  height: 36px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 25px;
  background-color: #e7edf3;

  box-shadow: 0px 0px 8px #8787875d;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.showCloseBtn:hover {
  box-shadow: 0px 0px 12px #87878774;
}

.showCloseBtnIcon {
  height: 28px;
  aspect-ratio: 1/1;

  filter: invert(23%) sepia(50%) saturate(518%) hue-rotate(171deg)
    brightness(98%) contrast(96%);
}

.showTitle {
  font-weight: 200;
  font-size: 16pt;
}

.showImgs {
  margin-top: 20px;
  height: 284px;
  width: 427.5px;
}

.showImg {
  position: absolute;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;

  width: 425.5px;
  height: 282px;
  border-radius: 15px;

  border-radius: 15px;
  border: 1px solid #2a476a34;

  transition: box-shadow, background-size;
  transition-duration: 400ms;
  transition-timing-function: ease;

  opacity: 0;
  animation: imageAppear 200ms 1;
  animation-fill-mode: forwards;
}

.showImg:hover {
  box-shadow: inset 0 0 8px #2a476a;
  background-size: 100%;
}

.showBtnScroll {
  opacity: 0;

  position: absolute;
  top: 212.2px;
  transform: translateY(-50%);
  z-index: 100;
  height: 28px;
  width: 28px;
  border-radius: 100%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.388);

  transition: background-color, opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;

  border: 1.5px solid black;
}

.showImgs:hover .showBtnScroll {
  opacity: 1;
}

.showBtnScrollLeft {
  left: 35px;
}

.showBtnScrollRight {
  left: 408.5px;
}

.showBtnScroll:hover {
  background-color: rgba(0, 0, 0, 0.655);
}

.showBtnScroll:hover ~ .showImg {
  box-shadow: inset 0 0 8px #2a476a;
  background-size: 100%;
}

.showImg:has(~ .showBtnScroll:hover) {
  box-shadow: inset 0 0 8px #2a476a;
  background-size: 100%;
}

.showBtnScrollSvg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 22px;
  width: 22px;

  transition: filter;
  transition-duration: 300ms;
  transition-timing-function: ease;
}

.showBtnScroll:hover .showBtnScrollSvg {
  filter: invert(99%) sepia(4%) saturate(1702%) hue-rotate(211deg)
    brightness(119%) contrast(100%);
}

.showCurrentImg {
  opacity: 0;

  position: absolute;
  z-index: 101;
  height: 16px;
  width: 48px;
  background-color: rgba(255, 255, 255, 0.388);
  border: 1.5px solid black;
  border-radius: 15px;
  top: 327.2px;
  left: 237.75px;
  transform: translateX(-50%);

  pointer-events: none;

  transition: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease;

  display: flex;
  align-items: center;
}

.showImgs:hover .showCurrentImg {
  opacity: 1;
}

.imgIndicator {
  height: 10px;
  aspect-ratio: 1/1;
  border: 1px solid black;
  border-radius: 100%;
  margin-right: 2px;
}

.imgIndicator:first-of-type {
  margin-left: 4px;
}

.imgIndicator:last-of-type {
  margin-right: 4px;
}

@keyframes imageAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.groupName {
  font-weight: 300;
  font-size: 14pt;
}

.concertDate {
  font-weight: 200;
  margin-left: auto;
  vertical-align: bottom;
}

.concertDesc {
  margin-top: 15px;
  font-weight: 300;
}

.concertLocation {
  margin-top: 15px;
  font-weight: 300;
}

.namedate-wrap {
  margin-top: 15px;
  display: flex;
}

.footer {
  margin-top: auto;
  display: flex;
}

.cenaKarte {
  font-weight: 600;
  display: flex;
  align-items: end;
}

.cenaKarteIndijanac {
  font-weight: 300;
  display: flex;
  align-items: end;
  margin-top: 5px;
  display: none;
}

.dugme {
  margin-left: auto;
  width: 150px;
  height: 35px;
  border-radius: 5px;

  cursor: pointer;

  box-shadow: 0px 0px 8px #8787875d;

  transition: box-shadow;
  transition-duration: 400ms;
  transition-timing-function: ease;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 300;

  user-select: none;
}

.dugme:hover {
  box-shadow: 0px 0px 12px #87878774;
}

.reserveDugme {
  color: white;
  background-color: #2a476a;
  box-shadow: 0px 0px 8px #2a476a7a;
}

.reserveDugme:hover {
  box-shadow: 0px 0px 12px #2a476ab4;
}

@media screen and (hover: none) {
  .showCurrentImg {
    opacity: 1;
  }
  .showBtnScroll {
    opacity: 1;
  }
  .showImg {
    box-shadow: inset 0 0 8px #2a476a;
    background-size: 100%;
  }
}

@media screen and (max-height: 640px) and (orientation: landscape) {
  .show-container {
    height: 370px;
    width: 950px;
  }

  .midSectionWrap {
    display: flex;
  }
  .innerMid {
    margin-left: auto;
    width: 500px;
  }
}

@media screen and (max-height: 640px) and (max-width: 1030px) and (orientation: landscape) {
  .show-container {
    height: 370px;
    width: 700px;
  }
  .innerMid {
    margin-left: auto;
    width: 240px;
  }
}

@media screen and (max-height: 455px) and (orientation: landscape) {
  .show-bg {
    display: none;
  }
  .show-container {
    height: 86%;
    width: 96%;
    border-radius: 0;
  }
  .innerMid {
    width: 40%;
  }
}

@media screen and (max-height: 400px) and (orientation: landscape) {
  .footer {
    position: absolute;
    width: 35%;
    bottom: 40px;
    right: 40px;
  }
  .cenaKarte {
    display: none;
  }
  .cenaKarteIndijanac {
    display: flex;
  }
}

@media screen and (max-height: 640px) and (max-width: 780px) and (orientation: landscape) {
  .innerMid {
    width: 30%;
  }
}

@media screen and (max-width: 490px) and (orientation: portrait) {
  .show-container {
    height: 93%;
    width: 90%;
    border-radius: 0;
  }
  .showImg {
    width: calc(100% - 48px);
  }
  .showBtnScrollRight {
    left: calc(100% - 65px);
  }
  .showCurrentImg {
    left: calc(50%);
  }
}

@media screen and (max-width: 470px) and (orientation: portrait) {
  .showImg {
    background-size: 120%;
  }
  .showImg:hover {
    background-size: 110%;
  }
  .showBtnScroll:hover ~ .showImg {
    box-shadow: inset 0 0 8px #2a476a;
    background-size: 110%;
  }

  .showImg:has(~ .showBtnScroll:hover) {
    box-shadow: inset 0 0 8px #2a476a;
    background-size: 110%;
  }
}

@media screen and (max-width: 430px) and (orientation: portrait) {
  .showImg {
    background-size: 140%;
  }
  .showImg:hover {
    background-size: 135%;
  }
  .showBtnScroll:hover ~ .showImg {
    box-shadow: inset 0 0 8px #2a476a;
    background-size: 135%;
  }

  .showImg:has(~ .showBtnScroll:hover) {
    box-shadow: inset 0 0 8px #2a476a;
    background-size: 135%;
  }
}

@media screen and (max-width: 365px) and (orientation: portrait) {
  .cenaKarte {
    display: none;
  }
  .cenaKarteIndijanac {
    display: flex;
  }
}

@media screen and (max-width: 350px) and (orientation: portrait) {
  .showImg {
    background-size: cover;
  }
  .showImg:hover {
    background-size: cover;
  }
  .showBtnScroll:hover ~ .showImg {
    box-shadow: inset 0 0 8px #2a476a;
    background-size: cover;
  }

  .showImg:has(~ .showBtnScroll:hover) {
    box-shadow: inset 0 0 8px #2a476a;
    background-size: cover;
  }
}
